html,body{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #333;
  overflow-x: hidden;
}

.App {
  padding: 3em;
  padding-top: 0em;
  padding-right: 0em;
  background: #fff;
  border-left: 30px solid #d8b68a;
  height: auto;
}

.intro{
  margin-top: 10%;
}

.App p{
  margin-left: 3em;
  width: 70%;
  line-height: 1.8em;
}

.divider-brown{
  position: absolute;
  height: 15%;
  background: #d8b68a;
  width: 100%;
}

.divider-brown-inside{
  height: 100%;
  background: #fff;
  width: 100%;
  border-top-left-radius: 20em;
  margin-left: 30px;
}

.bar-brown{
  position: fixed;
  width: 30px;
  height: 100%;
  background: #d8b68a;
  top:0;
}

.w-h-100{
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-header {
  background: #d8b68a;
  height: 90%;
  width: 90%;
  box-sizing: border-box;
  /*flex-direction: column;*/
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 26%;
  align-items: left;
  border-bottom-right-radius: 9em;
}

h1{
  font-weight: 500;
  color: #6b3a00;
}

.App-header h1{
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: .25em;
  color: #6b3a00;
}

.App-header h2{
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .9em;
  margin: 0;
  color: #fff;
}

.entire_step {
  width: 100%;
  float: right;
}

.step {
  width: 30%;
  padding: 2em;
  box-shadow: 10px 30px 60px rgba(0,0,0,.1);
  margin-bottom: 10em;
  line-height: 1.5em;
  padding-bottom: 0;
}

.step p{
  margin-left: 0;
  width: auto;
}
.step h1{
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 1.2em;
  color: #d8b68a;
}

.entire_step {
  margin-top: 10%;
  display: inline-flex;
  justify-content: right;
}

.images {
  margin-right: 0;
  width: 70%;
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
  right: 0;
  /*background-color: blue;*/
}

b{
  font-weight: 500;
  border-bottom: 3px solid #d8b68a;
  margin: 5px;
}

button{
  margin-left: 3em;
  background: #d8b68a;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 0px 20px 8px -11px rgba(0,0,0,.1);
}

button:hover{
  color: #d8b68a;
  background: #fff;
}
