html,body{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #333;
  box-sizing: border-box;
}

#root{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 3em;
  padding-top: 0em;
  padding-right: 0em;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-left: 30px solid #d8b68a;
  height: auto;
}

.other {
  padding: 3em;
  padding-top: 6em;
  padding-right: 0em;
  width: 100%;
  background: #fff;
  border-left: 30px solid #d8b68a;
  height: auto;
  box-sizing: border-box;
}


.intro{
  margin-top: 10%;
}

.App p, .other p{
  margin-left: 3em;
  width: 70%;
  z-index:9;
  position: relative;
  line-height: 1.8em;
}

.divider-brown{
  position: absolute;
  height: 15%;
  background: #d8b68a;
  box-sizing: border-box;
  width: 100%;
}

.divider-brown-inside {
  height: 100%;
  background: #fff;
  width: 97%;
  box-sizing: border-box;
  border-top-left-radius: 20em;
  margin-left: 3%;
}
.bar-brown{
  position: fixed;
  width: 3%;
  height: 100%;
  background: #d8b68a;
  top:0;
}

.w-h-100{
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App-header {
  background: #d8b68a;
  height: 90%;
  width: 90%;
  box-sizing: border-box;
  /*flex-direction: column;*/
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 26%;
  align-items: left;
  border-bottom-right-radius: 9em;
}

h1{
  font-weight: 500;
  color: #6b3a00;
}

.App-header h1{
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: .25em;
  color: #6b3a00;
}

.App-header h2{
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .9em;
  margin: 0;
  color: #fff;
}

.entire_step {
  width: 100%;
  float: right;
}

.step {
  width: 30%;
  padding: 2em;
  box-shadow: 10px 30px 60px rgba(0,0,0,.1);
  margin-bottom: 10em;
  line-height: 1.5em;
  padding-bottom: 0;
  border-radius: 1em;
  z-index: 99;
}

.step p{
  margin-left: 0;
  width: auto;
}
.step h1{
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 1.2em;
  color: #d8b68a;
}

.entire_step {
  margin-top: 10%;
  display: inline-flex;
  justify-content: left;
}

.images {
  margin-right: 0;
  width: 30%;
  display: inline-flex;
  justify-content: flex-start;
  text-align: left;
  right: 0;
  z-index: 99;
  /*background-color: blue;*/
}

b{
  font-weight: 500;
  border-bottom: 3px solid #d8b68a;
  margin: 5px;
}

button{
  margin-left: 3em;
  background: #d8b68a;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 0px 20px 8px -11px rgba(0,0,0,.1);
}

button:hover{
  color: #d8b68a;
  background: #fff;
}

.center-text{
  text-align: center;
}

.bowl{
    position: sticky;
    top: 30px;
    float: right;
    box-sizing: border-box;
    width:80%;
    text-align: right;
    margin-top: -22em;
    height: 0em;
    z-index: 1;
}

.lastp{
  width: 100%;
  display:block;
  position: relative;
  color: #fff;
}

.oven{
  text-align: center;
}

.drag_images{
  padding-left: 3em;
  z-index: 99;
}

.customizationViz{
  height: 20em;
  padding: 3em;

}

.customizationViz h2{
  letter-spacing: 8px;
  font-weight: 500;
}

.customizationButtons{
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
.customizationImages{
  float:right;
  width: 50%;
  padding-left: 5%;
}

.customizationBar{
  width: 60%;
  display:block;
  float:right;
  padding-left: 8em;
  box-sizing: border-box;
  padding-bottom: 8em;
}

.customizationLine{
  width: 75%;
  height: 4px;
  background: #484848;
  vertical-align: middle;
  display: inline-block;
  z-index: 9;
}

.customizationDivider{
  width: 4px;
  height: 5px;
  background: #484848;
  display:inline-block;
  line-height: 3px;
  border-bottom: 4px solid #484848;
}

.customizationImages img{
  height: 20em;
}

.customizationPointer{
  width: 6px;
  height: 30px;
  border-radius: 10px 10px 50px 50px;
  background: #d8b68a;
  margin-top: -30px;
  position: relative;
  z-index: 999;
}

table{
  width: 100%;
}

td{
  width: 33%;
}

.radio {
  padding-right: 5%;
}

.customizationButtons p{
  margin-top: 1.9em;
  margin-left: 0;
  margin-bottom: .5em;
  background: #d8b68a;
  font-weight: 500;
  padding: .5em;
  border-radius: .25em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .75px;
  font-size: .75em;
  box-shadow: 0px 10px 5px -8px rgba(0,0,0,.1);

}
