.App {
  padding: 3em;
  
}

.App-header {
  background-color: #d8b68a;
  color: #6b3a00;
  height: 10vh;
  /*flex-direction: column;*/
  padding-left: 1em;
  padding-top: 0.5em;
  align-items: left;
  font-size: 3em;
}